<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= "#{@title} - " unless @title.nil? %>Scorched</title>
  <link rel="stylesheet" href="<%= absolute 'reset.css' %>" type="text/css" />
  <link rel="stylesheet" href="<%= absolute 'style.css' %>" type="text/css" />
  <link rel="stylesheet" href="<%= absolute 'coderay_github.css' %>" type="text/css" />
  <link rel="icon" type="image/png" href="<%= absolute 'favicon.png' %>">
  <meta charset="utf-8" />
</head>
<body>
  <div id="shoulder">
    <a id="logo" href="<%= absolute %>">Scorched</a>
    <ul id="navigation">
      <%= render :navigation, locals: {items: navigation} %>
    </ul>
    <footer>
      <p>Sponsored by<br/><a href="http://www.phusion.nl"><img src="<%= absolute '/images/phusion_logo.png' %>" /></a></p>
    </footer>
  </div>
  <div id="content">
    <!-- <div class="notice"></div> -->
    <%= yield %>
    <% if request.path_info =~ %r{/docs($|/)} && response.status < 400 %>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'scorchedrb';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <% end %>
  </div>
</body>
</html>