<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= "#{@title} - " unless @title.nil? %>Scorched</title>
  <link rel="stylesheet" href="<%= absolute 'reset.css' %>" type="text/css" />
  <link rel="stylesheet" href="<%= absolute 'style.css' %>" type="text/css" />
  <link rel="stylesheet" href="<%= absolute 'coderay_github.css' %>" type="text/css" />
  <link rel="icon" type="image/png" href="<%= absolute 'favicon.png?refresh_damn_you' %>">
  <meta charset="utf-8" />
</head>
<body>
  <div id="shoulder">
    <a id="logo" href="<%= absolute %>">Scorched</a>
    <ul id="navigation">
      <%= render :navigation, locals: {items: navigation} %>
    </ul>
    <div class="footer">
      <p>Sponsored by<br/><a href="http://www.phusion.nl"><img src="<%= absolute '/images/phusion_logo.png' %>" /></a></p>
    </div>
  </div>
  <div id="content">
    <!-- <div class="notice"></div> -->
    <%= yield %>
    <div class="footer">
      <p>Using Scorched v<%= Scorched::VERSION %></p>
    </div>
    
  </div>
</body>
</html>